PORT=3001
DATABASE_URL=postgres://postgres:postgres@localhost:5432/cinema?sslmode=disable
JWT_SECRET=your-super-secret-jwt-key-change-in-production
CLOUDINARY_URL=cloudinary://243844755747319:c8icIbIygX8hBdH4Avz6jjJE0ug@dsa4sisfl
